@page "/Info"
@using ChabadNapa.Components
@using ChabadNapa.Extensions
@using ChabadNapa.Models

@inherits PageBase
@inject HttpClient Http

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title="@Loc.Keys["info"]" />

<div class="container py-3 text-center" style="max-width: 800px;">
    <div class="row mx-0" style="place-content: center;">
        @foreach (var cat in _InfoCategories)
        {
            
            <!-- todo -->
            @*<Card Title=@(State.IsCulture("he-IL") ? cat.Title.He : cat.Title.En)
                  Link="@string.Format($"/ChabadNapa/Info/{cat.Category}")"
                  ImgSrc="@cat.Img" />*@

            <Card Title=@(State.IsCulture("he-IL") ? cat.Title.He : cat.Title.En)
                  Link="@string.Format($"Info/{cat.Category}")"
                  ImgSrc="@cat.Img" />
        }
    </div>
</div>

@code {

    InfoCategory[]? _InfoCategories;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //todo
        //_InfoCategories = await Http.GetFromJsonAsync<InfoCategory[]>("/ChabadNapa/data/categories.json");
        _InfoCategories = await Http.GetFromJsonAsync<InfoCategory[]>("/data/categories.json");
    }
}
